In [1]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/caterpillar/caterpillar-tube-pricing.zip

--2019-08-12 11:49:43--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/caterpillar/caterpillar-tube-pricing.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 823789 (804K) [application/zip]
Saving to: ‘caterpillar-tube-pricing.zip’

caterpillar-tube-pr 100%[===================>] 804.48K  --.-KB/s    in 0.04s

2019-08-12 11:49:43 (21.1 MB/s) - ‘caterpillar-tube-pricing.zip’ saved [823789/823789]

In [2]:
!unzip caterpillar-tube-pricing.zip

Archive:  caterpillar-tube-pricing.zip
  inflating: sample_submission.csv
  inflating: data.zip

In [3]:
!unzip data.zip

Archive:  data.zip
   creating: competition_data/
  inflating: competition_data/bill_of_materials.csv
  inflating: competition_data/comp_adaptor.csv
  inflating: competition_data/comp_boss.csv
  inflating: competition_data/comp_elbow.csv
  inflating: competition_data/comp_float.csv
  inflating: competition_data/comp_hfl.csv
  inflating: competition_data/comp_nut.csv
  inflating: competition_data/comp_other.csv
  inflating: competition_data/comp_sleeve.csv
  inflating: competition_data/comp_straight.csv
  inflating: competition_data/comp_tee.csv
  inflating: competition_data/comp_threaded.csv
  inflating: competition_data/components.csv
  inflating: competition_data/specs.csv
  inflating: competition_data/test_set.csv
  inflating: competition_data/train_set.csv
  inflating: competition_data/tube.csv
  inflating: competition_data/tube_end_form.csv
  inflating: competition_data/type_component.csv
  inflating: competition_data/type_connection.csv
  inflating: competition_data/type_end_form.csv

In [0]:
SOURCE = 'competition_data/'

In [5]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 5.7MB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [0]:
import pandas as pd;

In [7]:
trainval = pd.read_csv(SOURCE + 'train_set.csv');
trainval.head()

  tube_assembly_id supplier  quote_date  ...  bracket_pricing  quantity       cost
0         TA-00002   S-0066  2013-07-07  ...              Yes         1  21.905933
1         TA-00002   S-0066  2013-07-07  ...              Yes         2  12.341214
2         TA-00002   S-0066  2013-07-07  ...              Yes         5   6.601826
3         TA-00002   S-0066  2013-07-07  ...              Yes        10   4.687770
4         TA-00002   S-0066  2013-07-07  ...              Yes        25   3.541561

[5 rows x 8 columns]

In [8]:
test = pd.read_csv(SOURCE + 'test_set.csv');
test.head()

   id tube_assembly_id supplier  ... min_order_quantity  bracket_pricing  quantity
0   1         TA-00001   S-0066  ...                  0              Yes         1
1   2         TA-00001   S-0066  ...                  0              Yes         2
2   3         TA-00001   S-0066  ...                  0              Yes         5
3   4         TA-00001   S-0066  ...                  0              Yes        10
4   5         TA-00001   S-0066  ...                  0              Yes        25

[5 rows x 8 columns]

In [0]:
from glob import glob

data = {}
for path in glob(SOURCE + '*.csv'):
    df = pd.read_csv(path)
    filename = path.split('/')[-1]
    name = filename.split('.')[0]
    data[name] = df

In [14]:
data['bill_of_materials'].head()

  tube_assembly_id component_id_1  ...  component_id_8 quantity_8
0         TA-00001         C-1622  ...             NaN        NaN
1         TA-00002         C-1312  ...             NaN        NaN
2         TA-00003         C-1312  ...             NaN        NaN
3         TA-00004         C-1312  ...             NaN        NaN
4         TA-00005         C-1624  ...             NaN        NaN

[5 rows x 17 columns]

In [22]:
data['bill_of_materials'].isnull().sum()/len(data['bill_of_materials'])

tube_assembly_id    0.000000
component_id_1      0.096660
quantity_1          0.096660
component_id_2      0.302481
quantity_2          0.302481
component_id_3      0.773988
quantity_3          0.773658
component_id_4      0.971365
quantity_4          0.971318
component_id_5      0.995660
quantity_5          0.995660
component_id_6      0.998773
quantity_6          0.998773
component_id_7      0.999670
quantity_7          0.999670
component_id_8      0.999953
quantity_8          0.999953
dtype: float64

In [17]:
data['components'].tail()

     component_id           name component_type_id
2043       C-2043         FLANGE            CP-004
2044       C-2044  ADAPTER-INLET            CP-006
2045       C-2045  ADAPTER-INLET             OTHER
2046       C-2046         SLEEVE             OTHER
2047       C-2047         FLANGE             OTHER

In [58]:
data['bill_of_materials'].head()

  tube_assembly_id component_id_1  ...  component_id_8 quantity_8
0         TA-00001         C-1622  ...             NaN        NaN
1         TA-00002         C-1312  ...             NaN        NaN
2         TA-00003         C-1312  ...             NaN        NaN
3         TA-00004         C-1312  ...             NaN        NaN
4         TA-00005         C-1624  ...             NaN        NaN

[5 rows x 17 columns]

In [51]:
data['comp_boss']['connection_type_id'].value_counts()

B-005    60
B-004    31
B-002    21
B-012    15
9999      9
B-009     8
B-010     1
B-011     1
B-013     1
Name: connection_type_id, dtype: int64

In [56]:
data['tube'].sample(10)

      tube_assembly_id material_id  diameter  ...  num_boss  num_bracket  other
15884         TA-15885     SP-0035     25.40  ...         0            0      0
11520         TA-11521     SP-0046     27.20  ...         0            0      0
6067          TA-06068     SP-0035      9.52  ...         0            0      0
13600         TA-13601     SP-0029      9.52  ...         0            0      0
18249         TA-18250     SP-0029     19.05  ...         0            0      0
3648          TA-03649     SP-0028      6.35  ...         0            0      0
1865          TA-01866     SP-0028      9.52  ...         0            0      0
15953         TA-15954     SP-0029     12.70  ...         0            0      0
18338         TA-18339     SP-0037      9.52  ...         0            0      0
5282          TA-05283     SP-0037      6.35  ...         0            0      0

[10 rows x 16 columns]

In [61]:
data['tube_end_form'].head(20)

   end_form_id forming
0       EF-001     Yes
1       EF-002      No
2       EF-003      No
3       EF-004      No
4       EF-005     Yes
5       EF-006     Yes
6       EF-007     Yes
7       EF-008     Yes
8       EF-009     Yes
9       EF-010     Yes
10      EF-011      No
11      EF-012      No
12      EF-013     Yes
13      EF-014     Yes
14      EF-015      No
15      EF-016     Yes
16      EF-017     Yes
17      EF-018     Yes
18      EF-019     Yes
19      EF-020      No